/* styles.css or index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper styles */
@import "~swiper/swiper-bundle.css";

/* Custom styles here */



/* Custom Styles */
/* font-lato font-bold         700
font-lato font-normal		400
font-montserrat font-normal		400
font-montserrat font-medium		500
font-montserrat font-medium italic	500
font-montserrat font-semibold		600 */

/* Hide default scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles */
.scrollbar-hide {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}


.scrollbar-hide::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Assuming you have Tailwind set up */
@media (max-width: 768px) {
  .swiper-slide {
    height: 300px; /* Set your desired height */
  }
}
